rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Default allow for smooth demo and production operation
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
